:host {

    .colors {
        display: flex;
        gap: .5em;
        justify-content: center;

        input {
            background: none;
            border: none;
            padding: 0;

          
            padding-inline: 6px;
            padding-block: 2px;
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(29, 70, 131) 0px 0px 0px 1px inset;

        }


    }
}