<section class="statistics">
  <div class="selectors">
    <section class="data-type">
      <select [(ngModel)]="type" (change)="onTypeChange(type)">
        <option value="market-price">Market Price</option>
        <option value="avg-block-size">Average Block Size</option>
      </select>
    </section>

    <section class="chart-select">
      <select [(value)]="currChart">
        <option disabled>Pick a Chart</option>
        <option value="line-chart">Line Chart</option>
        <option value="bar-chart">Bar Chart</option>
      </select>
    </section>

  </div>
  <div class="chart-con">
    <line-chart *ngIf="currChart === 'line-chart'" [chartData]="chartData"></line-chart>
    <bar-chart *ngIf="currChart === 'bar-chart'" [chartData]="chartData"></bar-chart>
  </div>
</section>