:host {
    height: 400px;
    width: 400px;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    background-color: rgb(250, 252, 250);
    border: orangered 3px solid;
    box-shadow: -3px 1px 28px #00000061;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 1em;
        }

        button {
            width: 50%;
            display: block;
            margin: 20px auto;
        }
    }
}



// :host {
//     display: flex;
//     flex-direction: column;
//     align-self: center;
//     box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
//     height: fit-content;
//     width: fit-content;
//     padding: 18px;
//     border-radius: 12px;
//     background-color: rgb(246, 251, 255);

//     a {
//         text-decoration: none;
//         color: black;
//         font-size: 1rem;
//         line-height: 1;
//         text-decoration: none;
//         font-weight: 100;
//         padding: 8px;
//         border-radius: 30px;
//         box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(29, 70, 131) 0px 0px 0px 1px inset;

//         &:hover {
//             background-color: rgb(29, 70, 131);
//             color: white;
//         }

//     }

// }